<!--<input [{ngModel)]="stopName">
<button class="btn btn-primary" (click)="getStop"></button>-->

<div *ngFor="let stop of stopArray">
  <ul>
    <li *ngFor="let route of stop.patterns">
      <p>{{route.name}}</p>
    </li>
  </ul>
</div>


<p>
  {{printThis}}
</p>


<div class="card-deck">
    <div class="card" *ngFor="let image of mediaArray">
      <img class="card-img" alt="Card image cap" [src]="mediaService.mediaUrl + image.thumbnail">
      <div class="card-block">
        <h4 class="card-title">{{image.title}}</h4>
        <p class="card-text">{{image.description}}</p>
      </div>
    </div>
</div>
